header.header
	.container
		img(src="/static/images/content/ava.jpg", alt="аватар").header__ava
		.header__desc.desc-header
			span.desc-header__name Даниил
			span.desc-header__name Журавлёв
			span.desc-header__text Frontend 
			span.desc-header__text Developer
		a(href="https://github.com/dimiskil" target="_blank").header__link
			svg(class="icon-010-github")
				use(xlink:href="#icon-010-github")
			span github.com/dimiskil
	