section.about
	.container
		.about__skills.skills-about
			h2.skills-about__title.main-title.main-title--w Умения
			.skills-about__wrap
				span HTML
				span CSS
				span БЭМ
				span PUG
				span JavaScript
				span JQuery
				span Gulp
				span GIT
				span REACT
				span REDUX
				span Figma
				span Photoshop
				span Avokode
		.about__interests.interests-about
			h2.interests-about__title.main-title.main-title--w Увлечения
			.interests-about__wrap
				.interests-about__item
					<svg class="icon-005-code"><use xlink:href="#icon-005-code"></use></svg>
					span Код
				.interests-about__item
					<svg class="icon-009-pizza-slice"><use xlink:href="#icon-009-pizza-slice"></use></svg>
					span Еда
				.interests-about__item
					<svg class="icon-007-gamepad"><use xlink:href="#icon-007-gamepad"></use></svg>
					span Игры
				.interests-about__item
					<svg class="icon-innovation"><use xlink:href="#icon-innovation"></use></svg>
					span ФП
				.interests-about__item
					<svg class="icon-social-reddit-outline"><use xlink:href="#icon-social-reddit-outline"></use></svg>
					span Новости
