section.bio
	.container
		.bio__desc
			h2.bio__title.main-title О себе
			p.bio__text 👋 Фронтом начал заниматься с 2019 года. Выбор пал на него, так как он показался простым (ХА! Наивный парень 🤕). Стартанул с HTML и CSS. Скрывать не буду, в послужном списке имеются сайты, за которые стыдно (все с чего-то начинают). Статика - скучно. 
			p.bio__text Осознав это приступил учить JS👨‍💻. Как любой уважающий разработчик написал 
				a(href="https://dimiskil.github.io/project_02/" target="_blank") ToDo
				|. Косо, криво, но работает😅. JS это конечно хорошо, но без фрейворка многовато boilerplate кода. 
			p.bio__text Начал учить React + Redux. Понравилась их философия компонентного подхода, имутабельности состояния, и конечно же JSX. Тут также не обошлось без 
				a(href="https://dimiskil.github.io/react-todo-deploy/" target="_blank") ToDo
				|	курильщика🙄. Почитав доку, поглядев пару видосов, приступил писать 
				a(href="https://react-todo-2-9ae81.web.app/" target="_blank") ToDo
				|	ToDo здорового человека. Проект находится в стадии разработки, но к нему подошел с большой ответственостью. Подрубил Firebase, использованы хуки, прикручен самописный Redux && Thunk 🙂.
			p.bio__text Дальше в планах написать магазин на TS😉
		.bio__links
			a(href="https://twitter.com/gre4ka16" target="_blank").bio__link-item
				svg(class="icon-002-twitter")
					use(xlink:href="#icon-002-twitter")
			a(href="https://t.me/BigOrlando" target="_blank").bio__link-item
				svg(class="icon-001-telegram")
					use(xlink:href="#icon-001-telegram")
			a(href="https://instagram.com/ilich_lampochka?igshid=1m4d3macvy0mw" target="_blank").bio__link-item
				svg(class="icon-003-instagram")
					use(xlink:href="#icon-003-instagram")
	
